<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{ partial "head/resource-hints.html" . }}
  {{ partial "head/seo.html" . }}


  <!-- Extensibility -->
  {{ partial "head/head_start.html" . }}

  {{ partial "head/stylesheets.html" . }}

  {{ partial "head/dark-mode.html" . }}

  {{ partial "head/favicons.html" . }}


  <!-- Extensibility -->
  {{ partial "head/head_end.html" . }}

  <!-- Prism toolbar plugin (從 static/ 提供) -->
  <link rel="stylesheet" href="{{ "prismjs/plugins/toolbar/prism-toolbar.css" | relURL }}">
</head>
